*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
    
}

main{
    width:100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(10, 11, 15);
}

.container-background{
    position: absolute;
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
    border-radius: 20px;
    overflow: hidden;
}

.container-background img{
    width:100%;
    height: 100%;
}


main > header{
    width: 90%;
    height: 70px;
    margin:4% auto;
    padding:20px;
    color:#fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
.brand{
    padding-top: 5px;
    font-size: 28px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-self: flex-start;
}

nav li{
    margin-left: 15px;
    display: inline-block;
    font-size: 20px;
    border:2px solid #fff;
    padding:5px 10px;
    border-radius: 25px;
    min-width: 100px;
    text-align: center;
}

nav li a{
    text-decoration: none;
    color: #fff;
}

nav li:hover{
    background-color: #fff;
}

nav li:hover a{
    color: #000;
}

.content{
    position: absolute;
    right: 5%;
    top: 25%;
    width:450px;
    z-index: 10;
    text-align: center;
    padding:10px;
   
}

.content h1{
    text-transform: uppercase;
    text-align: right;
    line-height: 1.5;
    font-size: 48px;
    margin-bottom: 50px;
}

.content p{
    width:400px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
    font-size: 18px;
}

.content  .btn-call-to-action{
    background-color: #046a64;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding:10px 20px;
    font-size: 22px;
    border-radius: 25px;
    text-transform: uppercase;
}
